{include  file="./public/common/admintop.html"/}
<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
	<title>订单管理</title>
	<link href="__ROOT__/public/static/css/orderList.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="__ROOT__/public/static/js/jquery-1.4.2.js"></script>
	<script type="text/javascript">
	$(function(){
		$(".del").click(function(){
			if(confirm("您确定删除该订单吗？")){
			//获取订单id
				var oid = $(this).attr("id");				
				window.location.href="{:url('order/orderdelete')}?orderID="+oid;
			}
		});	
	});
	</script>
	<style>
	.pagination{text-align:center;margin-top:20px;margin-bottom: 20px;}  
	.pagination li{margin:0px 10px; border:1px solid #e6e6e6;padding: 3px 8px;display: inline-block;}  
	.pagination .active{background-color: #46A3FF;color: #fff;}  
	.pagination .disabled{color:#aaa;}
	</style>
</head>
<body>
<center>
{empty name="$peisongs"}
    <div class="no_order_info" >
    		没有需要发货的订单！
    </div>
{/empty}

<!-- 模版数据 -start -->

	{foreach $peisongs as $peisong}
	<div style="margin: 0 auto;width:999px;">
		<dl class="Order_information">
			<dt>
				<h3>订单信息</h3>				
			</dt>
			<table  width="999px" border="0" cellpadding="0" cellspacing="1" style="color:#333333;line-height:22px;height:22px;">
				<tr>
					<td  style="width:100px;">订单编号：</td>
					<td>{$peisong.orderID}</td>
					<td  style="width:100px;">订单状态：</td>
					<td>{$peisong.ddzt}</td>
				</tr>
				<tr>
					<td  style="background:#d8d8d8;width:100px;">卡片署名：</td>
					<td>{$peisong.shuming}</td>
					<td>下单时间：</td>
					<td>{$peisong.inputtime}</td>	
				</tr>
				<tr>
					<td  style="background:#d8d8d8;width:100px;">卡片留言：</td>
					<td colspan="3">{$peisong.liuyan}</td>					
				</tr>
				<tr>
				 	<td  style="background:#d8d8d8;width:100px;"> 配送日期：</td>
			   	 	<td  style="width:220px;">{$peisong.peisongday}</td>	
				 	<td  style="background:#d8d8d8;width:100px;">配送时间段：</td>
					<td>{$peisong.peisongtime}</td>
				</tr>
				<tr>
					<td style="background:#d8d8d8;width:100px;">配送要求：</td>
					<td>{$peisong.psyq}</td>
					<td>订单金额：</td>
					<td>{$peisong.shifu}</td>
				</tr>
				<tr>
					<td  style="background:#d8d8d8;width:100px;">收货人：</td>
					<td>{$peisong.sname} </td>
					<td style="background:#d8d8d8;">收货人邮编：</td>
					<td>{$peisong.custZip}</td>
				</tr>
				<tr>
					<td style="width:100px;">收货地址：</td>
					<td colspan="3">{$peisong.address}</td>
				</tr>
				<tr>
					<td  style="background:#d8d8d8;width:100px;">收货人电话：</td>
					<td colspan="3">{$peisong.mobile}</td>
				</tr>
			</table>
				
			<div style="height:35px;font-size:22px;text-align:center;background:#cdcd4b;bold:true;" >
				<form action="{:url('order/orderupdate')}?id={$peisong.orderID}" method="post" name="f"> 快递单号：
					<input type="text" name="kddh" placeholder="123123">
					<input type="submit" value="发货" name="adminupdate">
				</form>	
			</div>
		</dl>
			
		<table width="999px" border="0" cellpadding="0"
			cellspacing="1" style="background:#d8d8d8;color:#333333">
			<tr>
				<th width="249" height="30" align="center" valign="middle" bgcolor="#f3f3f3">商品图片</th>
				<th width="100" align="center" valign="middle" bgcolor="#f3f3f3">商品名称</th>
				<th width="100" align="center" valign="middle" bgcolor="#f3f3f3">原价</th>
				<th width="100" align="center" valign="middle" bgcolor="#f3f3f3">现价</th>
				<th width="100" align="center" valign="middle" bgcolor="#f3f3f3">购买数量</th>
			</tr>
			
			{foreach  $orderlists as $shoplists}
				{foreach $shoplists as $shoplist}
					{if($peisong.orderID eq $shoplist.orderID)}
			<tr>
				<td align="center" valign="middle" bgcolor="#FFFFFF">
					<a href="{:url('showflower/flowerDetail')}">
						<img src="__ROOT__/public/static/picture/{$shoplist.pictures}" border=0></a></td>
				<td align="center" valign="middle" bgcolor="#FFFFFF">{$shoplist.fname}</td>
				<td align="center" valign="middle" bgcolor="#FFFFFF">{$shoplist.price }元</td>
				<td align="center" valign="middle" bgcolor="#FFFFFF">{$shoplist.yourprice }元</td>
				<td align="center" valign="middle" bgcolor="#FFFFFF">{$shoplist.num }件</td>
			</tr>
					{/if}
				{/foreach}
			{/foreach}
		</table>		
	</div>
	{/foreach}{$page}
<!-- 模版数据 -end -->
</center>
</body>
</html>